<!DOCTYPE html>
<html class=" ">

<head> 
    <!-- 
         * @Package: Zak mobile App
         * @Author: themepassion
         * @Version: 1.0
        -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Zak Mobile App : Accordions</title>
    <meta content="Zak Mobile App" name="description" />
    <meta content="themepassion" name="author" />

    
<!-- CORE JS FRAMEWORK - START -->
<script src="../modules/app/js/jquery.min.js"></script>

<script src="../assets/js/variables.js"></script>
<script src="../modules/acl/acl.js"></script>

<script src="../assets/js/account.js" type="text/javascript"></script>
<script src="../modules/app/app.js"></script>
<!-- CORE JS FRAMEWORK - END -->

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">






<!-- CORE CSS FRAMEWORK - START -->
<link href="../assets/css/preloader.css" type="text/css" rel="stylesheet"
  media="screen,projection" />

<link href="../modules/app/plugins/materializecss/materialize.min.css" type="text/css"
  rel="stylesheet" media="screen,projection" />
<link href="../modules/app/fonts/mdi/materialdesignicons.min.css" type="text/css" rel="stylesheet"
  media="screen,projection" />
<link href="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css"
  rel="stylesheet" media="screen,projection" />


<!-- CORE CSS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE CSS TEMPLATE - START -->


<link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"
  id="main-style" />
<script src="../assets/js/global_style.js"></script>    <!-- CORE CSS TEMPLATE - END -->



</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->


<body class="  html" data-theme="" data-header="light" data-footer="dark" data-header_align="center"
    data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light"
    data-footer_menu="show" data-footer_menu_style="light">
            <div class="ajaxloader-background preloader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>
        <div class="preloader-background apploader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>


        <div class="scroll">
          <div class="refresh">

          </div>
        </div>
        <div class="reloading z-depth-2"><i class="mdi mdi-refresh"></i></div>


        <!-- 

        <div class='p2r-example' data-orientation="all"></div> -->


    <!-- START navigation -->
    <nav id="header-topbar" class="fixedtop topbar navigation" role="navigation"></nav>
    <ul id="slide-nav" class="sidenav sidemenu"></ul>
    <!-- END navigation -->



    <ul id="slide-settings" class="sidenav sidesettings right fixed">

    </ul>

    <div class="container">
        <div class="section">
            <h5 class="pagetitle">Accordions</h5>

            <p>ZAK is premium and multi purpose Mobile UI APP with tons of features and functionalities. Try it now.
            </p>
            <div class="divider"></div>
        </div>
    </div>






    <div class="container">
        <div class="section">

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Full width Accordion</h5>
                </div>
            </div>
        </div>
    </div>

    <ul class="collapsible transparent z-depth-0">
        <li>
            <div class="collapsible-header"><i class="mdi mdi-square-edit-outline"></i>Settings</div>
            <div class="collapsible-body"><span>What was beyond the bend in the stream was unknown. Both were curious,
                    but only one was brave enough to want to explore. That was the problem. There was always one that
                    let fear rule her life. she'll prove she can again. We all already know this and you will
                    too.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="mdi mdi-wallet-travel"></i>Activities</div>
            <div class="collapsible-body"><span>Here's the thing. She doesn't have anything to prove, but she is going
                    to anyway. That's just her character. She knows she doesn't have to, but she still will just to show
                    you that she can. Doubt her more and she'll prove she can again. We all already know this and you
                    will too.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="mdi mdi-file-outline"></i>Blogs</div>
            <div class="collapsible-body"><span>The chair sat in the corner where it had been for over 25 years. The
                    only difference was there was someone actually sitting in it. How long had it been since someone had
                    done that? Ten years or more he imagined. Yet there was no denying the presence in the chair
                    now.</span></div>
        </li>
    </ul>

    <div class="container">
        <div class="section">


            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Popout Style</h5>
                    <ul class="collapsible popout">
                        <li>
                            <div class="collapsible-header"><i class="mdi mdi-square-edit-outline"></i>Settings</div>
                            <div class="collapsible-body"><span>If you can imagine a furry humanoid seven feet tall,
                                    with the face of an intelligent gorilla and the braincase of a man, you'll have a
                                    rough idea of what they looked like -- except for their teeth. The canines would
                                    have fitted better in the face of a tiger, and showed at the corners of their wide,
                                    thin-lipped mouths, giving them an expression of ferocity.</span></div>
                        </li>
                        <li class="active">
                            <div class="collapsible-header"><i class="mdi mdi-wallet-travel"></i>Activities</div>
                            <div class="collapsible-body"><span>Do you think you're living an ordinary life? You are so
                                    mistaken it's difficult to even explain. The mere fact that you exist makes you
                                    extraordinary. The odds of you existing are less than winning the lottery, but here
                                    you are. Are you going to let this extraordinary opportunity pass?</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi mdi-file-outline"></i>Blogs</div>
                            <div class="collapsible-body"><span>One dollar and eighty-seven cents. That was all. And
                                    sixty cents of it was in pennies. Pennies saved one and two at a time by bulldozing
                                    the grocer and the vegetable man and the butcher until one’s cheeks burned with the
                                    silent imputation of parsimony that such close dealing implied. One dollar and
                                    eighty-seven cents. And the next day would be Christmas...</span></div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="divider"></div>


            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Basic Accordion</h5>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header"><i class="mdi mdi-square-edit-outline"></i>Settings</div>
                            <div class="collapsible-body"><span>Sometimes that's just the way it has to be. Sure, there
                                    were probably other options, but he didn't let them enter his mind. It was done and
                                    that was that. It was just the way it had to be. she'll prove she can again. We all
                                    already know this and you will too.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi mdi-wallet-travel"></i>Activities</div>
                            <div class="collapsible-body"><span>Sometimes there isn't a good answer. No matter how you
                                    try to rationalize the outcome, it doesn't make sense. And instead of an answer, you
                                    are simply left with a question. Why? And instead of an answer, you are simply left
                                    with a question. Why?</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi mdi-file-outline"></i>Blogs</div>
                            <div class="collapsible-body"><span>I'm going to hire professional help tomorrow. I can't
                                    handle this anymore. She fell over the coffee table and now there is blood in her
                                    catheter. This is much more than I ever signed up to do. she'll prove she can again.
                                    We all already know this and you will too.</span></div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="divider"></div>


            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Preselected Accordion</h5>
                    <ul class="collapsible">
                        <li class="active">
                            <div class="collapsible-header"><i class="mdi mdi-square-edit-outline"></i>Settings</div>
                            <div class="collapsible-body"><span>It's always good to bring a slower friend with you on a
                                    hike. If you happen to come across bears, the whole group doesn't have to worry.
                                    Only the slowest in the group do. That was the lesson they were about to learn that
                                    day. she'll prove she can again. We all already know this and you will too.</span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi mdi-wallet-travel"></i>Activities</div>
                            <div class="collapsible-body"><span>Another definition of design is planning to manufacture
                                    an object, system, component or structure. Thus the word design can be used as a
                                    noun or a verb. In a broader sense, design is an applied art and engineering that
                                    integrates with technology.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi mdi-file-outline"></i>Blogs</div>
                            <div class="collapsible-body"><span>It may involve considerable research, thought, modeling,
                                    interactive adjustment, and re-design. Meanwhile, diverse kinds of objects may be
                                    designed, including clothing, graphical user interfaces, products, skyscrapers,
                                    corporate identities, business processes, and even methods or processes of
                                    designing.</span></div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Multiple Expandable</h5>
                    <ul class="collapsible expandable">
                        <li class="active">
                            <div class="collapsible-header"><i class="mdi mdi-square-edit-outline"></i>Settings</div>
                            <div class="collapsible-body"><span>What were they eating? It didn't taste like anything she
                                    had ever eaten before and although she was famished, she didn't dare ask. She knew
                                    the answer would be one she didn't want to hear. she'll prove she can again. We all
                                    already know this and you will too.</span></div>
                        </li>
                        <li class="active">
                            <div class="collapsible-header"><i class="mdi mdi-wallet-travel"></i>Activities</div>
                            <div class="collapsible-body"><span>I recollect that my first exploit in squirrel-shooting
                                    was in a grove of tall walnut-trees that shades one side of the valley. I had
                                    wandered into it at noontime, when all nature is peculiarly quiet, and was startled
                                    by the roar of my own gun, as it broke the Sabbath stillness around and was
                                    prolonged and reverberated by the angry echoes.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi mdi-file-outline"></i>Blogs</div>
                            <div class="collapsible-body"><span>She wondered if the note had reached him. She scolded
                                    herself for not handing it to him in person. She trusted her friend, but so much
                                    could happen. She waited impatiently for word. she'll prove she can again. We all
                                    already know this and you will too.</span></div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Colored Accordion</h5>
                    <ul class="collapsible colored">
                        <li>
                            <div class="collapsible-header primary-bg white-text"><i
                                    class="mdi mdi-square-edit-outline"></i>Settings</div>
                            <div class="collapsible-body primary-bg-light "><span>Stranded. Yes, she was now the first
                                    person ever to land on Venus, but that was of little consequence. Her name would be
                                    read by millions in school as the first to land here, but that celebrity would never
                                    actually be seen by her. She looked at the control panel and knew there was nothing
                                    that would ever get it back into working order. She was the first and it was not
                                    clear this would also be her last.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header primary-bg white-text"><i
                                    class="mdi mdi-wallet-travel"></i>Activities</div>
                            <div class="collapsible-body primary-bg-light "><span>He wondered if he should disclose the
                                    truth to his friends. It would be a risky move. Yes, the truth would make things a
                                    lot easier if they all stayed on the same page, but the truth might fracture the
                                    group leaving everything in even more of a mess than it was not telling the truth.
                                    It was time to decide which way to go.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header primary-bg white-text"><i
                                    class="mdi mdi-file-outline"></i>Blogs</div>
                            <div class="collapsible-body primary-bg-light "><span>Her eyebrows were a shade darker than
                                    her hair. They were thick and almost horizontal, emphasizing the depth of her eyes.
                                    She was rather handsome than beautiful. Her face was captivating by reason of a
                                    certain frankness of expression and a contradictory subtle play of features. Her
                                    manner was engaging.</span></div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Colored Accordion</h5>
                    <ul class="collapsible colored">
                        <li>
                            <div class="collapsible-header accent-bg white-text"><i
                                    class="mdi mdi-square-edit-outline"></i>Settings</div>
                            <div class="collapsible-body accent-bg-light "><span>According to the caption on the bronze
                                    marker placed by the Multnomah Chapter of the Daughters of the American Revolution
                                    on May 12, 1939, “College Hall (is) the oldest building in continuous use for
                                    Educational purposes west of the Rocky Mountains. Here were educated men and women
                                    who have won recognition throughout the world in all the learned
                                    professions.”</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header accent-bg white-text"><i
                                    class="mdi mdi-wallet-travel"></i>Activities</div>
                            <div class="collapsible-body accent-bg-light "><span>The red ball sat proudly at the top of
                                    the toybox. It had been the last to be played with and anticipated it would be the
                                    next as well. The other toys grumbled beneath. At one time each had held the spot of
                                    the red ball, but over time they had sunk deeper and deeper into the toy box.</span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header accent-bg white-text"><i
                                    class="mdi mdi-file-outline"></i>Blogs</div>
                            <div class="collapsible-body accent-bg-light "><span>There was no time. He ran out of the
                                    door without half the stuff he needed for work, but it didn't matter. He was late
                                    and if he didn't make this meeting on time, someone's life may be in danger. she'll
                                    prove she can again. We all already know this and you will too. she'll prove she can
                                    again. We all already know this and you will too.</span></div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Transparent Accordion</h5>
                    <ul class="collapsible transparent z-depth-0">
                        <li>
                            <div class="collapsible-header"><i class="mdi mdi-square-edit-outline"></i>Settings</div>
                            <div class="collapsible-body"><span>Design philosophies are usually for determining design
                                    goals. A design goal may range from solving the least significant individual problem
                                    of the smallest element, to the most holistic influential utopian goals.</span>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi mdi-wallet-travel"></i>Activities</div>
                            <div class="collapsible-body"><span>It was a question of which of the two she preferred. On
                                    the one hand, the choice seemed simple. The more expensive one with a brand name
                                    would be the choice of most. It was the easy choice. The safe choice. But she wasn't
                                    sure she actually preferred it.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi mdi-file-outline"></i>Blogs</div>
                            <div class="collapsible-body"><span>Where do they get a random paragraph? he wondered as he
                                    clicked the generate button. Do they just write a random paragraph or do they get it
                                    somewhere? At that moment he read the random paragraph and realized it was about
                                    random paragraphs and his world would never be the same.</span></div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>






    <footer class="page-footer" id="page-footer"></footer>




    <div id="footer-menu" class="footer-menu"></div>












    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="../modules/app/plugins/materializecss/materialize.js"></script>
<script src="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../modules/app/plugins/pull-to-refresh/jquery.p2r.min.js"></script>    <!-- CORE JS FRAMEWORK - END -->


    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <script type="text/javascript">
    if ($(".collapsible").length) {
        $(".collapsible").collapsible();
    }
    if ($(".collapsible.expandable").length) {
        $(".collapsible.expandable").collapsible({
            accordion: false
        });
    }
    </script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->


    <!-- CORE TEMPLATE JS - START -->




    <!-- END CORE TEMPLATE JS - END -->


    <script type="text/javascript">

    </script>

    <script type="text/javascript" src="../cordova.js"></script>

</body>

</html>