<!DOCTYPE html>
<html class=" ">
    <head> 
        <!-- 
         * @Package: Zak mobile App
         * @Author: themepassion
         * @Version: 1.0
        -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Zak Mobile App : Cards</title>
        <meta content="Zak Mobile App" name="description" />
        <meta content="themepassion" name="author" />

        
<!-- CORE JS FRAMEWORK - START -->
<script src="../modules/app/js/jquery.min.js"></script>

<script src="../assets/js/variables.js"></script>
<script src="../modules/acl/acl.js"></script>

<script src="../assets/js/account.js" type="text/javascript"></script>
<script src="../modules/app/app.js"></script>
<!-- CORE JS FRAMEWORK - END -->

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">






<!-- CORE CSS FRAMEWORK - START -->
<link href="../assets/css/preloader.css" type="text/css" rel="stylesheet"
  media="screen,projection" />

<link href="../modules/app/plugins/materializecss/materialize.min.css" type="text/css"
  rel="stylesheet" media="screen,projection" />
<link href="../modules/app/fonts/mdi/materialdesignicons.min.css" type="text/css" rel="stylesheet"
  media="screen,projection" />
<link href="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css"
  rel="stylesheet" media="screen,projection" />


<!-- CORE CSS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE CSS TEMPLATE - START -->


<link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"
  id="main-style" />
<script src="../assets/js/global_style.js"></script>        <!-- CORE CSS TEMPLATE - END -->

    

    </head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->

    
    <body class="  html"  data-theme="" data-header="light" data-footer="dark"  data-header_align="center"  data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light" data-footer_menu="show" data-footer_menu_style="light" >
                <div class="ajaxloader-background preloader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>
        <div class="preloader-background apploader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>


        <div class="scroll">
          <div class="refresh">

          </div>
        </div>
        <div class="reloading z-depth-2"><i class="mdi mdi-refresh"></i></div>


        <!-- 

        <div class='p2r-example' data-orientation="all"></div> -->
        

<!-- START navigation -->
    <nav id="header-topbar" class="fixedtop topbar navigation" role="navigation"></nav>
    <ul id="slide-nav" class="sidenav sidemenu"></ul>
<!-- END navigation -->



<ul id="slide-settings" class="sidenav sidesettings right fixed">
    
</ul>

  <div class="container">
    <div class="section">
	<h5 class="pagetitle">Cards</h5>
	
	<p>ZAK is premium and multi purpose Mobile UI APP with tons of features and functionalities. Try it now. </p>
	<div class="divider"></div>
    </div>
   </div>	






  <div class="container">
    <div class="section">


    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Basic Card</h5>              <div class="card darken-1">
                <div class="card-content">
                  <span class="card-title">Basic Card</span>
                  <p>What was beyond the bend in the stream was unknown. Both were curious, but only one was brave enough to want to explore. That was the problem. There was always one that let fear rule her life. she'll prove she can again. We all already know this and you will too.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>
              </div>

    </div>
    </div>
                    <div class="divider"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Image Card</h5>                  <div class="card">
                    <div class="card-image">
                      <img src="../assets/images/cards-1.jpg">
                      <span class="card-title">Image Card</span>
                    </div>
                    <div class="card-content">
                      <p>Here's the thing. She doesn't have anything to prove, but she is going to anyway. That's just her character. She knows she doesn't have to, but she still will just to show you that she can. Doubt her more and she'll prove she can again. We all already know this and you will too.</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
    </div>
    </div>
                    <div class="divider"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Card with FAB</h5>                  <div class="card">
                    <div class="card-image">
                      <img src="../assets/images/cards-2.jpg">
                      <span class="card-title">Card with FAB</span>
                      <a class="btn-floating halfway-fab waves-effect waves-light primary-bg"><i class="mdi mdi-plus">add</i></a>
                    </div>
                    <div class="card-content">
                      <p>The chair sat in the corner where it had been for over 25 years. The only difference was there was someone actually sitting in it. How long had it been since someone had done that? Ten years or more he imagined. Yet there was no denying the presence in the chair now.</p>
                    </div>
                  </div>
    </div>
    </div>
                    <div class="divider"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Horizontal Card</h5>                    <div class="card horizontal">
                      <div class="card-image">
                        <img src="../assets/images/cards-3.jpg" class="responsive-img">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <p>If you can imagine a furry humanoid seven feet tal...</p>
                        </div>
                        <div class="card-action">
                          <a href="#">A link</a>
                        </div>
                      </div>
                    </div>
    </div>
    </div>
                    <div class="divider"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Card action & options</h5>                 <div class="card sticky-action">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="../assets/images/cards-4.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator">Actions & Options<i class="mdi mdi-dots-vertical right"></i></span>
                      <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title">Action Area<i class="mdi mdi-close right"></i></span>
                      <p>Do you think you're living an ordinary life? You are so mistaken it's difficult to even explain. The mere fact that you exist makes you extraordinary. The odds of you existing are less than winning the lottery, but here you are. Are you going to let this extraordinary opportunity pass?</p>
                    </div>
                  </div>
    </div>
    </div>
                    <div class="divider"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Card with Tabs</h5>                <div class="card">
                    <div class="card-content">
                      <p>One dollar and eighty-seven cents. That was all. And sixty cents of it was in pennies. Pennies saved...</p>
                    </div>
                    <div class="card-tabs">
                      <ul class="tabs tabs-fixed-width">
                        <li class="tab"><a href="#test4">Profile</a></li>
                        <li class="tab"><a class="active" href="#test5">Account</a></li>
                        <li class="tab"><a href="#test6">Settings</a></li>
                      </ul>
                    </div>
                    <div class="card-content">
                      <div id="test4">Sometimes that's just the way it has to be. Sure, there were probably other options, but he didn't let them enter his mind. It was done and that was that. It was just the way it had to be. she'll prove she can again. We all already know this and you will too.</div>
                      <div id="test5">Sometimes there isn't a good answer. No matter how you try to rationalize the outcome, it doesn't make sense. And instead of an answer, you are simply left with a question. Why? And instead of an answer, you are simply left with a question. Why?</div>
                      <div id="test6">I'm going to hire professional help tomorrow. I can't handle this anymore. She fell over the coffee table and now there is blood in her catheter. This is much more than I ever signed up to do. she'll prove she can again. We all already know this and you will too.</div>
                    </div>
                  </div>
    </div>
    </div>
                    <div class="divider"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Card colored</h5>              <div class="card primary-bg">
                <div class="card-content white-text">
                  <span class="card-title">Colored Card</span>
                  <p>It's always good to bring a slower friend with you on a hike. If you happen to come across bears, the whole group doesn't have to worry. Only the slowest in the group do. That was the lesson they were about to learn that day. she'll prove she can again. We all already know this and you will too.</p>
                </div>
                <div class="card-action">
                  <a href="#" class="white-text">This is a link</a>
                  <a href="#" class="white-text">This is a link</a>
                </div>
              </div>
    </div>
    </div>
                    
                <div class="divider"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Card Colored</h5>                  <div class="card-panel green lighten-2">
                    <span class="white-text">Another definition of design is planning to manufacture an object, system, component or structure. Thus the word design can be used as a noun or a verb. In a broader sense, design is an applied art and engineering that integrates with technology.</span>
                  </div>
    </div>
    </div>
                    <div class="divider"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Card colored</h5>              <div class="card deep-orange lighten-2">
                <div class="card-content white-text">
                  <span class="card-title">Colored Card</span>
                  <p>It may involve considerable research, thought, modeling, interactive adjustment, and re-design. Meanwhile, diverse kinds of objects may be designed, including clothing, graphical user interfaces, products, skyscrapers, corporate identities, business processes, and even methods or processes of designing.</p>
                </div>
                <div class="card-action">
                  <a href="#" class="white-text">This is a link</a>
                  <a href="#" class="white-text">This is a link</a>
                </div>
              </div>
    </div>
    </div>
    


    </div>
</div>



<footer class="page-footer" id="page-footer"></footer>




    <div id="footer-menu" class="footer-menu"></div>












<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

<!-- CORE JS FRAMEWORK - START --> 
<script src="../modules/app/plugins/materializecss/materialize.js"></script>
<script src="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../modules/app/plugins/pull-to-refresh/jquery.p2r.min.js"></script> 
<!-- CORE JS FRAMEWORK - END --> 


<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 
<script type="text/javascript">
                    $(document).ready(function(){
                        $(".tabs").tabs();
                      });
                </script>
                <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 


<!-- CORE TEMPLATE JS - START --> 




<!-- END CORE TEMPLATE JS - END --> 


<script type="text/javascript">
  
</script>

    <script type="text/javascript" src="../cordova.js"></script>

</body>
</html>



