<!DOCTYPE html>
<html class=" ">
    <head> 
        <!-- 
         * @Package: Zak mobile App
         * @Author: themepassion
         * @Version: 1.0
        -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Zak Mobile App : Modals</title>
        <meta content="Zak Mobile App" name="description" />
        <meta content="themepassion" name="author" />

        
<!-- CORE JS FRAMEWORK - START -->
<script src="../modules/app/js/jquery.min.js"></script>

<script src="../assets/js/variables.js"></script>
<script src="../modules/acl/acl.js"></script>

<script src="../assets/js/account.js" type="text/javascript"></script>
<script src="../modules/app/app.js"></script>
<!-- CORE JS FRAMEWORK - END -->

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">






<!-- CORE CSS FRAMEWORK - START -->
<link href="../assets/css/preloader.css" type="text/css" rel="stylesheet"
  media="screen,projection" />

<link href="../modules/app/plugins/materializecss/materialize.min.css" type="text/css"
  rel="stylesheet" media="screen,projection" />
<link href="../modules/app/fonts/mdi/materialdesignicons.min.css" type="text/css" rel="stylesheet"
  media="screen,projection" />
<link href="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css"
  rel="stylesheet" media="screen,projection" />


<!-- CORE CSS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE CSS TEMPLATE - START -->


<link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"
  id="main-style" />
<script src="../assets/js/global_style.js"></script>        <!-- CORE CSS TEMPLATE - END -->

    

    </head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->

    
    <body class="  html"  data-theme="" data-header="light" data-footer="dark"  data-header_align="center"  data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light" data-footer_menu="show" data-footer_menu_style="light" >
                <div class="ajaxloader-background preloader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>
        <div class="preloader-background apploader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>


        <div class="scroll">
          <div class="refresh">

          </div>
        </div>
        <div class="reloading z-depth-2"><i class="mdi mdi-refresh"></i></div>


        <!-- 

        <div class='p2r-example' data-orientation="all"></div> -->
        

<!-- START navigation -->
    <nav id="header-topbar" class="fixedtop topbar navigation" role="navigation"></nav>
    <ul id="slide-nav" class="sidenav sidemenu"></ul>
<!-- END navigation -->



<ul id="slide-settings" class="sidenav sidesettings right fixed">
    
</ul>

  <div class="container">
    <div class="section">
	<h5 class="pagetitle">Modals</h5>
	
	<p>ZAK is premium and multi purpose Mobile UI APP with tons of features and functionalities. Try it now. </p>
	<div class="divider"></div>
    </div>
   </div>	






  <div class="container">
    <div class="section ui-modal">


        <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Modal</h5>
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>Here's the thing. She doesn't have anything to prove, but she is going to anyway. That's just her character. She knows she doesn't have to, but she still will just to show you that she can. Doubt her more and she'll prove she can again. We all already know this and you will too.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>



    </div>
    </div>
    
  <div class="divider"></div>


    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Colored Modals</h5>

      
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger red lighten-2 white-text" href="#modal3">Modal</a>

      <!-- Modal Structure -->
      <div id="modal3" class="modal red lighten-2 white-text">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>If you can imagine a furry humanoid seven feet tall, with the face of an intelligent gorilla and the braincase of a man, you'll have a rough idea of what they looked like -- except for their teeth. The canines would have fitted better in the face of a tiger, and showed at the corners of their wide, thin-lipped mouths, giving them an expression of ferocity.</p>
        </div>
        <div class="modal-footer red lighten-2 white-text">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger pink lighten-2 white-text" href="#modal5">Modal</a>

      <!-- Modal Structure -->
      <div id="modal5" class="modal pink lighten-2 white-text">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>One dollar and eighty-seven cents. That was all. And sixty cents of it was in pennies. Pennies saved one and two at a time by bulldozing the grocer and the vegetable man and the butcher until one’s cheeks burned with the silent imputation of parsimony that such close dealing implied. One dollar and eighty-seven cents. And the next day would be Christmas...</p>
        </div>
        <div class="modal-footer pink lighten-2 white-text">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger deep-purple lighten-2 white-text" href="#modal7">Modal</a>

      <!-- Modal Structure -->
      <div id="modal7" class="modal deep-purple lighten-2 white-text">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>Sometimes there isn't a good answer. No matter how you try to rationalize the outcome, it doesn't make sense. And instead of an answer, you are simply left with a question. Why? And instead of an answer, you are simply left with a question. Why?</p>
        </div>
        <div class="modal-footer deep-purple lighten-2 white-text">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger indigo lighten-2 white-text" href="#modal9">Modal</a>

      <!-- Modal Structure -->
      <div id="modal9" class="modal indigo lighten-2 white-text">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>It's always good to bring a slower friend with you on a hike. If you happen to come across bears, the whole group doesn't have to worry. Only the slowest in the group do. That was the lesson they were about to learn that day. she'll prove she can again. We all already know this and you will too.</p>
        </div>
        <div class="modal-footer indigo lighten-2 white-text">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger blue lighten-2 white-text" href="#modal11">Modal</a>

      <!-- Modal Structure -->
      <div id="modal11" class="modal blue lighten-2 white-text">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>It may involve considerable research, thought, modeling, interactive adjustment, and re-design. Meanwhile, diverse kinds of objects may be designed, including clothing, graphical user interfaces, products, skyscrapers, corporate identities, business processes, and even methods or processes of designing.</p>
        </div>
        <div class="modal-footer blue lighten-2 white-text">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger teal lighten-2 white-text" href="#modal13">Modal</a>

      <!-- Modal Structure -->
      <div id="modal13" class="modal teal lighten-2 white-text">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>I recollect that my first exploit in squirrel-shooting was in a grove of tall walnut-trees that shades one side of the valley. I had wandered into it at noontime, when all nature is peculiarly quiet, and was startled by the roar of my own gun, as it broke the Sabbath stillness around and was prolonged and reverberated by the angry echoes.</p>
        </div>
        <div class="modal-footer teal lighten-2 white-text">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger amber dark-text" href="#modal15">Modal</a>

      <!-- Modal Structure -->
      <div id="modal15" class="modal amber dark-text">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>Stranded. Yes, she was now the first person ever to land on Venus, but that was of little consequence. Her name would be read by millions in school as the first to land here, but that celebrity would never actually be seen by her. She looked at the control panel and knew there was nothing that would ever get it back into working order. She was the first and it was not clear this would also be her last.</p>
        </div>
        <div class="modal-footer amber dark-text">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger deep-orange lighten-2 white-text" href="#modal17">Modal</a>

      <!-- Modal Structure -->
      <div id="modal17" class="modal deep-orange lighten-2 white-text">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>Her eyebrows were a shade darker than her hair. They were thick and almost horizontal, emphasizing the depth of her eyes. She was rather handsome than beautiful. Her face was captivating by reason of a certain frankness of expression and a contradictory subtle play of features. Her manner was engaging.</p>
        </div>
        <div class="modal-footer deep-orange lighten-2 white-text">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger brown lighten-2 white-text" href="#modal19">Modal</a>

      <!-- Modal Structure -->
      <div id="modal19" class="modal brown lighten-2 white-text">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>The red ball sat proudly at the top of the toybox. It had been the last to be played with and anticipated it would be the next as well. The other toys grumbled beneath. At one time each had held the spot of the red ball, but over time they had sunk deeper and deeper into the toy box.</p>
        </div>
        <div class="modal-footer brown lighten-2 white-text">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger blue-grey lighten-2 white-text" href="#modal21">Modal</a>

      <!-- Modal Structure -->
      <div id="modal21" class="modal blue-grey lighten-2 white-text">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>Design philosophies are usually for determining design goals. A design goal may range from solving the least significant individual problem of the smallest element, to the most holistic influential utopian goals.</p>
        </div>
        <div class="modal-footer blue-grey lighten-2 white-text">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger white dark-text" href="#modal23">Modal</a>

      <!-- Modal Structure -->
      <div id="modal23" class="modal white dark-text">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>Where do they get a random paragraph? he wondered as he clicked the generate button. Do they just write a random paragraph or do they get it somewhere? At that moment he read the random paragraph and realized it was about random paragraphs and his world would never be the same.</p>
        </div>
        <div class="modal-footer white dark-text">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>

      

    </div>
    </div>
    

  <div class="divider"></div>


    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Nested Modal</h5>
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger" href="#modal25">Nested Modal</a>

      <!-- Modal Structure -->
      <div id="modal25" class="modal">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>He heard the crack echo in the late afternoon about a mile away. His heart started racing and he bolted into a full sprint. It wasn't a gunshot, it wasn't a gunshot, he repeated under his breathlessness as he continued to sprint. she'll prove she can again. We all already know this and you will too.</p>

                <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#modal27">Inner Modal</a>

        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>


      <!-- Modal Structure -->
      <div id="modal27" class="modal">
        <div class="modal-content">
          <h4>Nested Modal Header</h4>
          <p>I'm heading back to Colorado tomorrow after being down in Santa Barbara over the weekend for the festival there. I will be making October plans once there and will try to arrange so I'm back here for the birthday if possible. I'll let you know as soon as I know the doctor's appointment schedule and my flight plans.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>


    </div>
    </div>
    
  <div class="divider"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Modal Media Box</h5>
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger" href="#modal29">Modal as Media Box</a>

      <!-- Modal Structure -->
      <div id="modal29" class="modal modal-mediabox">
        <div class="modal-content">
          <img class="responsive-img" src="../assets/images/modal.jpg">
        </div>
        <div class="modal-footer">
          <p class="">Some Caption of this image in the modal box.</p>
        </div>
      </div>

    </div>
    </div>
    
  <div class="divider"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Modal Fixed Footer</h5>
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger" href="#modal30">Modal Fixed Footer</a>

      <!-- Modal Structure -->
      <div id="modal30" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>Eating raw fish didn't sound like a good idea. It's a delicacy in Japan, didn't seem to make it any more appetizing. Raw fish is raw fish, delicacy or not. she'll prove she can again. We all already know this and you will too. she'll prove she can again. We all already know this and you will too.It may involve considerable research, thought, modeling, interactive adjustment, and re-design. Meanwhile, diverse kinds of objects may be designed, including clothing, graphical user interfaces, products, skyscrapers, corporate identities, business processes, and even methods or processes of designing. </p>

          <p>The boy walked down the street in a carefree way, playing without notice of what was about him. He didn't hear the sound of the car as his ball careened into the road. He took a step toward it, and in doing so sealed his fate. she'll prove she can again. We all already know this and you will too.It may involve considerable research, thought, modeling, interactive adjustment, and re-design. Meanwhile, diverse kinds of objects may be designed, including clothing, graphical user interfaces, products, skyscrapers, corporate identities, business processes, and even methods or processes of designing. </p>

        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>
          
    </div>
    </div>
    

  <div class="divider"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Modal Messages</h5>
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger accent-bg" href="#modal33">Daily Deal Message</a>

      <!-- Modal Structure -->
      <div id="modal33" class="modal accent-bg">
        <div class="modal-content white-text">
          <h4>Daily Deal</h4>
          <p>Sign up today to unlock exiting offers. Hurry, limited time offers!</p>
        </div>
      </div>
      <div class="spacer"></div>

            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger green lighten-2" href="#modal34">Sign Up Message</a>

      <!-- Modal Structure -->
      <div id="modal34" class="modal green lighten-2">
        <div class="modal-content white-text">
          <h4>Sign Up</h4>
          <p>Sign up to unlock this content. It takes less than a minute.</p>
        </div>
      </div>

      <div class="spacer"></div>

            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger deep-orange lighten-2" href="#modal35">Sign In Message</a>

      <!-- Modal Structure -->
      <div id="modal35" class="modal deep-orange lighten-2">
        <div class="modal-content white-text">
          <h4>Sign In</h4>
          <p>Sign in to further access this content. <a href="#!" class="white-text">Click here to sign in</a></p>
        </div>
      </div>

          


    </div>
    </div>
    
  <div class="divider"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Modal at Bottoms</h5>
            <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn modal-trigger" href="#modal36">Modal at Bottom</a>

      <!-- Modal Structure -->
      <div id="modal36" class="modal bottom-sheet">
        <div class="modal-content">
          <h4>Modal Header</h4>
          <p>Turning away from the ledge, he started slowly down the mountain, deciding that he would, that very night, satisfy his curiosity about the man-house. In the meantime, he would go down into the canyon and get a cool drink, after which he would visit some berry patches just over the ridge, and explore among the foothills a bit before his nap-time, which always came just after the sun[31] had walked past the middle of the sky. At that period of the day the sun’s warm rays seemed to cast a sleepy spell over the silent mountainside, so all of the animals, with one accord, had decided it should be the hour for their mid-day sleep.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-red btn-flat">Disagree</a>
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
      </div>
    </div>
    </div>
    

    </div>
  </div>





<footer class="page-footer" id="page-footer"></footer>




    <div id="footer-menu" class="footer-menu"></div>












<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

<!-- CORE JS FRAMEWORK - START --> 
<script src="../modules/app/plugins/materializecss/materialize.js"></script>
<script src="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../modules/app/plugins/pull-to-refresh/jquery.p2r.min.js"></script> 
<!-- CORE JS FRAMEWORK - END --> 


<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 
<script type="text/javascript">
         $(".modal").modal();
    </script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 


<!-- CORE TEMPLATE JS - START --> 




<!-- END CORE TEMPLATE JS - END --> 


<script type="text/javascript">
  
</script>

    <script type="text/javascript" src="../cordova.js"></script>

</body>
</html>



