<!DOCTYPE html>
<html class=" ">

<head> 
    <!-- 
         * @Package: Zak mobile App
         * @Author: themepassion
         * @Version: 1.0
        -->
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Zak Mobile App : Badges</title>
    <meta content="Zak Mobile App" name="description" />
    <meta content="themepassion" name="author" />

    
<!-- CORE JS FRAMEWORK - START -->
<script src="../modules/app/js/jquery.min.js"></script>

<script src="../assets/js/variables.js"></script>
<script src="../modules/acl/acl.js"></script>

<script src="../assets/js/account.js" type="text/javascript"></script>
<script src="../modules/app/app.js"></script>
<!-- CORE JS FRAMEWORK - END -->

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">






<!-- CORE CSS FRAMEWORK - START -->
<link href="../assets/css/preloader.css" type="text/css" rel="stylesheet"
  media="screen,projection" />

<link href="../modules/app/plugins/materializecss/materialize.min.css" type="text/css"
  rel="stylesheet" media="screen,projection" />
<link href="../modules/app/fonts/mdi/materialdesignicons.min.css" type="text/css" rel="stylesheet"
  media="screen,projection" />
<link href="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css"
  rel="stylesheet" media="screen,projection" />


<!-- CORE CSS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE CSS TEMPLATE - START -->


<link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"
  id="main-style" />
<script src="../assets/js/global_style.js"></script>    <!-- CORE CSS TEMPLATE - END -->



</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->


<body class=" web   html" data-theme="" data-header="light" data-footer="dark" data-header_align="center"
    data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light"
    data-footer_menu="show" data-footer_menu_style="light">
            <div class="ajaxloader-background preloader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>
        <div class="preloader-background apploader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>


        <div class="scroll">
          <div class="refresh">

          </div>
        </div>
        <div class="reloading z-depth-2"><i class="mdi mdi-refresh"></i></div>


        <!-- 

        <div class='p2r-example' data-orientation="all"></div> -->


    <!-- START navigation -->
    <nav id="header-topbar" class="fixedtop topbar navigation" role="navigation"></nav>
    <ul id="slide-nav" class="sidenav sidemenu"></ul>
    <!-- END navigation -->



    <ul id="slide-settings" class="sidenav sidesettings right fixed">

    </ul>

    <div class="container">
        <div class="section">
            <h5 class="pagetitle">Badges</h5>

            <p>ZAK is premium and multi purpose Mobile UI APP with tons of features and functionalities. Try it now.
            </p>
            <div class="divider"></div>
        </div>
    </div>






    <div class="container">
        <div class="section">

            <div class="row ui-badges">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Colored Badges</h5>
                    <span class="new badge red lighten-2">4</span>
                    <span class="new badge pink lighten-2">4</span>
                    <span class="new badge deep-purple lighten-2">4</span>
                    <span class="new badge indigo lighten-2">4</span>
                    <span class="new badge blue lighten-2">4</span>
                    <span class="new badge teal lighten-2">4</span>
                    <span class="new badge amber black-text">4</span>
                    <span class="new badge deep-orange lighten-2">4</span>
                    <span class="new badge brown lighten-2">4</span>
                    <span class="new badge blue-grey lighten-2">4</span>

                </div>
            </div>

            <div class="divider"></div>

            <div class="row ui-badges">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Rounded Badges</h5>
                    <span class="new badge badge-rounded red lighten-2">4</span>
                    <span class="new badge badge-rounded pink lighten-2">4</span>
                    <span class="new badge badge-rounded deep-purple lighten-2">4</span>
                    <span class="new badge badge-rounded indigo lighten-2">4</span>
                    <span class="new badge badge-rounded blue lighten-2">4</span>
                    <span class="new badge badge-rounded teal lighten-2">4</span>
                    <span class="new badge badge-rounded amber black-text">4</span>
                    <span class="new badge badge-rounded deep-orange lighten-2">4</span>
                    <span class="new badge badge-rounded brown lighten-2">4</span>
                    <span class="new badge badge-rounded blue-grey lighten-2">4</span>


                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Caption Badges</h5>
                    <span class="new badge deep-orange lighten-2" data-badge-caption="custom caption">4</span>
                    <span class="new badge deep-purple lighten-2" data-badge-caption="custom caption">4</span>

                </div>
            </div>
            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Badges in collection</h5>
                    <div class="collection">
                        <a href="#!" class="collection-item"><span class="badge">1</span>Alan</a>
                        <a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
                        <a href="#!" class="collection-item">Alan</a>
                        <a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
                    </div>
                </div>
            </div>
            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Badges in Collapsible</h5>
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header">
                                <i class="mdi mdi-account-outline"></i>
                                Account
                                <span class="new badge">4</span></div>
                            <div class="collapsible-body">
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">
                                <i class="mdi mdi-message-outline"></i>
                                Messages
                                <span class="badge">1</span></div>
                            <div class="collapsible-body">
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Badges in Dropdown</h5>
                    <ul id="dropdown2" class="dropdown-content">
                        <li><a href="#!">one<span class="badge">1</span></a></li>
                        <li><a href="#!">two<span class="new badge">1</span></a></li>
                        <li><a href="#!">three</a></li>
                    </ul>
                    <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Dropdown<i
                            class="mdi mdi-chevron-down right"></i></a>

                </div>
            </div>


        </div>
    </div>





    <footer class="page-footer" id="page-footer"></footer>




    <div id="footer-menu" class="footer-menu"></div>












    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="../modules/app/plugins/materializecss/materialize.js"></script>
<script src="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../modules/app/plugins/pull-to-refresh/jquery.p2r.min.js"></script>    <!-- CORE JS FRAMEWORK - END -->


    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <script type="text/javascript">
    $(".dropdown-trigger").dropdown();
    if ($(".collapsible").length) {
        $(".collapsible").collapsible();
    }
    </script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->


    <!-- CORE TEMPLATE JS - START -->




    <!-- END CORE TEMPLATE JS - END -->


    <script type="text/javascript">

    </script>

    <script type="text/javascript" src="../cordova.js"></script>

</body>

</html>