<!DOCTYPE html>
<html class=" ">
    <head> 
        <!-- 
         * @Package: Zak mobile App
         * @Author: themepassion
         * @Version: 1.0
        -->
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Zak Mobile App : Timeline</title>
        <meta content="Zak Mobile App" name="description" />
        <meta content="themepassion" name="author" />

        
<!-- CORE JS FRAMEWORK - START -->
<script src="../modules/app/js/jquery.min.js"></script>

<script src="../assets/js/variables.js"></script>
<script src="../modules/acl/acl.js"></script>

<script src="../assets/js/account.js" type="text/javascript"></script>
<script src="../modules/app/app.js"></script>
<!-- CORE JS FRAMEWORK - END -->

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">






<!-- CORE CSS FRAMEWORK - START -->
<link href="../assets/css/preloader.css" type="text/css" rel="stylesheet"
  media="screen,projection" />

<link href="../modules/app/plugins/materializecss/materialize.min.css" type="text/css"
  rel="stylesheet" media="screen,projection" />
<link href="../modules/app/fonts/mdi/materialdesignicons.min.css" type="text/css" rel="stylesheet"
  media="screen,projection" />
<link href="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css"
  rel="stylesheet" media="screen,projection" />


<!-- CORE CSS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE CSS TEMPLATE - START -->


<link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"
  id="main-style" />
<script src="../assets/js/global_style.js"></script>        <!-- CORE CSS TEMPLATE - END -->

    

    </head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->

    
    <body class=" web   html"  data-theme="" data-header="light" data-footer="dark"  data-header_align="center"  data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light" data-footer_menu="show" data-footer_menu_style="light" >
                <div class="ajaxloader-background preloader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>
        <div class="preloader-background apploader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>


        <div class="scroll">
          <div class="refresh">

          </div>
        </div>
        <div class="reloading z-depth-2"><i class="mdi mdi-refresh"></i></div>


        <!-- 

        <div class='p2r-example' data-orientation="all"></div> -->
        

<!-- START navigation -->
    <nav id="header-topbar" class="fixedtop topbar navigation" role="navigation"></nav>
    <ul id="slide-nav" class="sidenav sidemenu"></ul>
<!-- END navigation -->



<ul id="slide-settings" class="sidenav sidesettings right fixed">
    
</ul>

  <div class="container">
    <div class="section">
	<h5 class="pagetitle">Timeline</h5>
	
	<p>ZAK is premium and multi purpose Mobile UI APP with tons of features and functionalities. Try it now. </p>
	<div class="divider"></div>
    </div>
   </div>	





<!-- 
<div class="card-panel green lighten-2 white-text">Sometimes, all you need to do is completely make an ass of yourself and laugh it off</div>    
<div class="card-panel accent-bg white-text">She borrowed the book from him many years ago and hasn't yet returned it.</div>
 -->
  <h5 class="center bot-20 sec-tit">January 2020 <i class="mdi mdi-chevron-down"></i></h5>
  <div class="container">
    <div class="section">

    <div class="timeline">
        
        <div class="verline"></div>
        <div class="event">
            <div class="date">
                <h4>01</h4><div>Sat</div>
            </div>
            <div class="card-panel primary-bg white-text">I checked to make sure that he was still alive.            </div>
        </div>

        <div class="event">
            <div class="date">
                <h4>02</h4><div>Sun</div>
            </div>
            <div class="card-panel ">To greatly frustrate someone. To drive someone crazy, insane, bonkers, or bananas.</div>
        </div>


        <div class="event">
            <div class="date">
                <h4>02</h4><div>Sun</div>
            </div>
            <div class="card-panel green lighten-2 white-text">My Mum tries to be cool by saying that she likes all the same things that I do.</div>
        </div>


        <div class="event">
            <div class="date">
                <h4>03</h4><div>Mon</div>
            </div>
            <div class="card-panel deep-orange lighten-2 white-text">Spending time with another to strengthen the relationship.</div>
        </div>

        <div class="event">
            <div class="date">
                <h4>04</h4><div>Tue</div>
            </div>
            <div class="card-panel">I think I will buy the red car, or I will lease the blue one.</div>
        </div>

        <div class="event">
            <div class="date">
                <h4>04</h4><div>Tue</div>
            </div>
            <div class="card-panel accent-bg white-text">She did not cheat on the test, for it was not the right thing to do.</div>
        </div>

        <div class="event">
            <div class="date">
                <h4>05</h4><div>Wed</div>
            </div>
            <div class="card-panel">When something is about to begin, get serious, or put to the test.</div>
        </div>

        <div class="event">
            <div class="date">
                <h4>05</h4><div>Wed</div>
            </div>
            <div class="card-panel deep-orange lighten-2 white-text">Something that occurs too early before preparations are ready. Starting too soon.</div>
        </div>

        <div class="event">
            <div class="date">
                <h4>06</h4><div>Thu</div>
            </div>
            <div class="card-panel">Typically said to indicate that any further investigation into a situation may lead to harm.</div>
        </div>

        <div class="event">
            <div class="date">
                <h4>06</h4><div>Thu</div>
            </div>
            <div class="card-panel green lighten-2 white-text">To risk it all, even if it means losing everything. To go all out.</div>
        </div>

        <div class="event">
            <div class="date">
                <h4>06</h4><div>Thu</div>
            </div>
            <div class="card-panel">It's useless to worry about things that  already happened and cannot be changed.</div>
        </div>

        <div class="event">
            <div class="date">
                <h4>07</h4><div>Fri</div>
            </div>
            <div class="card-panel ">Someone who isn't witty or sharp, but rather, they are ignorant, unintelligent, or senseless.</div>
        </div>

        <div class="event">
            <div class="date">
                <h4>07</h4><div>Fri</div>
            </div>
            <div class="card-panel  primary-bg white-text">I would have gotten the promotion, but my attendance wasn’t good enough.</div>
        </div>

        <div class="event">
            <div class="date">
                <h4>08</h4><div>Sat</div>
            </div>
            <div class="card-panel green lighten-2 white-text">I am happy to take your donation; any amount will be greatly appreciated.</div>
        </div>

        <div class="event">
            <div class="date">
                <h4>09</h4><div>Sun</div>
            </div>
            <div class="card-panel">There was no ice cream in the freezer, nor did they have money to go to the store.</div>
        </div>

    </div>

    </div>
   </div>




<footer class="page-footer" id="page-footer"></footer>




    <div id="footer-menu" class="footer-menu"></div>












<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

<!-- CORE JS FRAMEWORK - START --> 
<script src="../modules/app/plugins/materializecss/materialize.js"></script>
<script src="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../modules/app/plugins/pull-to-refresh/jquery.p2r.min.js"></script> 
<!-- CORE JS FRAMEWORK - END --> 


<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 


<!-- CORE TEMPLATE JS - START --> 




<!-- END CORE TEMPLATE JS - END --> 


<script type="text/javascript">
  
</script>

    <script type="text/javascript" src="../cordova.js"></script>

</body>
</html>



