<!DOCTYPE html>
<html class=" ">

<head>
    <!-- 
         * @Package: Zak mobile App
         * @Author: themepassion
         * @Version: 1.0
        -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Zak Mobile App : Site Access</title>
    <meta content="Zak Mobile App" name="description" />
    <meta content="themepassion" name="author" />

    
<!-- CORE JS FRAMEWORK - START -->
<script src="../modules/app/js/jquery.min.js"></script>

<script src="../assets/js/variables.js"></script>
<script src="../modules/acl/acl.js"></script>

<script src="../assets/js/account.js" type="text/javascript"></script>
<script src="../modules/app/app.js"></script>
<!-- CORE JS FRAMEWORK - END -->

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">






<!-- CORE CSS FRAMEWORK - START -->
<link href="../assets/css/preloader.css" type="text/css" rel="stylesheet"
  media="screen,projection" />

<link href="../modules/app/plugins/materializecss/materialize.min.css" type="text/css"
  rel="stylesheet" media="screen,projection" />
<link href="../modules/app/fonts/mdi/materialdesignicons.min.css" type="text/css" rel="stylesheet"
  media="screen,projection" />
<link href="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css"
  rel="stylesheet" media="screen,projection" />


<!-- CORE CSS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE CSS TEMPLATE - START -->


<link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"
  id="main-style" />
<script src="../assets/js/global_style.js"></script>    <!-- CORE CSS TEMPLATE - END -->



</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->


<body class="  html" data-theme="" data-header="light" data-footer="dark" data-header_align="center"
    data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light"
    data-footer_menu="show" data-footer_menu_style="light">
            <div class="ajaxloader-background preloader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>
        <div class="preloader-background apploader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>


        <div class="scroll">
          <div class="refresh">

          </div>
        </div>
        <div class="reloading z-depth-2"><i class="mdi mdi-refresh"></i></div>


        <!-- 

        <div class='p2r-example' data-orientation="all"></div> -->
    <!-- START navigation -->

    <nav id="header-topbar" class="fixedtop topbar navigation" role="navigation"></nav>
    <ul id="slide-nav" class="sidenav sidemenu"></ul>

    <!-- END navigation -->



    <ul id="slide-settings" class="sidenav sidesettings right fixed">

    </ul>

    <div class="container">
        <div class="section">
            <h5 class="pagetitle">Site Access</h5>

            <p>ZAK is premium and multi purpose Mobile UI APP with tons of features and functionalities. Try it now.
            </p>
            <div class="divider"></div>
        </div>
    </div>







    <div class="container">
        <div class="section">


            <ul class="subpages collection">
                <li class="collection-item">
                    <a href="ui-pages-login.html" class="waves-effect"><i
                            class="mdi mdi-login"></i></i><span>Login</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-pages-register.html" class="waves-effect"><i
                            class="mdi mdi-account-outline"></i></i><span>Registration</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-pages-forgotpassword.html" class="waves-effect"><i
                            class="mdi mdi-lock-reset"></i></i><span>Forgot Password</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-pages-resetpassword.html" class="waves-effect"><i
                            class="mdi mdi-textbox-password"></i></i><span>Reset Password</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-pages-activateaccount.html" class="waves-effect"><i
                            class="mdi mdi-lock-open-outline"></i></i><span>Activate Account</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-pages-lockscreen.html" class="waves-effect"><i
                            class="mdi mdi-lock-outline"></i></i><span>App Lock Screen</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-pages-logout.html" class="waves-effect"><i
                            class="mdi mdi-logout"></i></i><span>Logout</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
            </ul>


        </div>

    </div>




    <footer class="page-footer" id="page-footer"></footer>




    <div id="footer-menu" class="footer-menu"></div>












    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="../modules/app/plugins/materializecss/materialize.js"></script>
<script src="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../modules/app/plugins/pull-to-refresh/jquery.p2r.min.js"></script>    <!-- CORE JS FRAMEWORK - END -->


    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->


    <!-- CORE TEMPLATE JS - START -->




    <!-- END CORE TEMPLATE JS - END -->


    <script type="text/javascript">

    </script>

    <script type="text/javascript" src="../cordova.js"></script>

</body>

</html>