<!DOCTYPE html>
<html class=" ">

<head> 
    <!-- 
         * @Package: Zak mobile App
         * @Author: themepassion
         * @Version: 1.0
        -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Zak Mobile App : Buttons</title>
    <meta content="Zak Mobile App" name="description" />
    <meta content="themepassion" name="author" />

    
<!-- CORE JS FRAMEWORK - START -->
<script src="../modules/app/js/jquery.min.js"></script>

<script src="../assets/js/variables.js"></script>
<script src="../modules/acl/acl.js"></script>

<script src="../assets/js/account.js" type="text/javascript"></script>
<script src="../modules/app/app.js"></script>
<!-- CORE JS FRAMEWORK - END -->

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">






<!-- CORE CSS FRAMEWORK - START -->
<link href="../assets/css/preloader.css" type="text/css" rel="stylesheet"
  media="screen,projection" />

<link href="../modules/app/plugins/materializecss/materialize.min.css" type="text/css"
  rel="stylesheet" media="screen,projection" />
<link href="../modules/app/fonts/mdi/materialdesignicons.min.css" type="text/css" rel="stylesheet"
  media="screen,projection" />
<link href="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css"
  rel="stylesheet" media="screen,projection" />


<!-- CORE CSS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE CSS TEMPLATE - START -->


<link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"
  id="main-style" />
<script src="../assets/js/global_style.js"></script>    <!-- CORE CSS TEMPLATE - END -->



</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->


<body class="  html" data-theme="" data-header="light" data-footer="dark" data-header_align="center"
    data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light"
    data-footer_menu="show" data-footer_menu_style="light">
            <div class="ajaxloader-background preloader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>
        <div class="preloader-background apploader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>


        <div class="scroll">
          <div class="refresh">

          </div>
        </div>
        <div class="reloading z-depth-2"><i class="mdi mdi-refresh"></i></div>


        <!-- 

        <div class='p2r-example' data-orientation="all"></div> -->


    <!-- START navigation -->
    <nav id="header-topbar" class="fixedtop topbar navigation" role="navigation"></nav>
    <ul id="slide-nav" class="sidenav sidemenu"></ul>
    <!-- END navigation -->



    <ul id="slide-settings" class="sidenav sidesettings right fixed">

    </ul>

    <div class="container">
        <div class="section">
            <h5 class="pagetitle">Buttons</h5>

            <p>ZAK is premium and multi purpose Mobile UI APP with tons of features and functionalities. Try it now.
            </p>
            <div class="divider"></div>
        </div>
    </div>






    <div class="container">
        <div class="section ui-buttons">

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Colored Buttons</h5>
                    <a class="waves-effect waves-light btn red lighten-2">button</a>
                    <a class="waves-effect waves-light btn pink lighten-2">button</a>
                    <a class="waves-effect waves-light btn deep-purple lighten-2">button</a>
                    <a class="waves-effect waves-light btn indigo lighten-2">button</a>
                    <a class="waves-effect waves-light btn blue lighten-2">button</a>
                    <a class="waves-effect waves-light btn teal lighten-2">button</a>
                    <a class="waves-effect waves-light btn amber">button</a>
                    <a class="waves-effect waves-light btn deep-orange lighten-2">button</a>
                    <a class="waves-effect waves-light btn brown lighten-2">button</a>
                    <a class="waves-effect waves-light btn blue-grey lighten-2">button</a>
                    <a class="waves-effect waves-light btn white black-text">button</a>

                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Rounded Buttons</h5> <a
                        class="waves-effect waves-light btn btn-rounded red lighten-2">button</a>
                    <a class="waves-effect waves-light btn btn-rounded pink lighten-2">button</a>
                    <a class="waves-effect waves-light btn btn-rounded deep-purple lighten-2">button</a>
                    <a class="waves-effect waves-light btn btn-rounded indigo lighten-2">button</a>
                    <a class="waves-effect waves-light btn btn-rounded blue lighten-2">button</a>
                    <a class="waves-effect waves-light btn btn-rounded teal lighten-2">button</a>
                    <a class="waves-effect waves-light btn btn-rounded amber">button</a>
                    <a class="waves-effect waves-light btn btn-rounded deep-orange lighten-2">button</a>
                    <a class="waves-effect waves-light btn btn-rounded brown lighten-2">button</a>
                    <a class="waves-effect waves-light btn btn-rounded blue-grey lighten-2">button</a>
                    <a class="waves-effect waves-light btn btn-rounded white black-text">button</a>


                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Large Buttons</h5>
                    <a class="waves-effect waves-light btn-large bg-primary ">Button</a>
                    <a class="waves-effect waves-light btn-large btn-rounded bg-primary ">Button</a>

                    <div class="spacer-small"></div>

                    <a class="waves-effect waves-light btn-large green lighten-2"><i
                            class="mdi mdi-message-text-outline left"></i>button</a>
                    <a class="waves-effect waves-light btn-large btn-rounded green lighten-2"><i
                            class="mdi mdi-message-text-outline left"></i>button</a>

                    <div class="spacer-small"></div>

                    <a class="waves-effect waves-light btn-large teal lighten-2"><i
                            class="mdi mdi-message-text-outline right"></i>button</a>
                    <a class="waves-effect waves-light btn-large btn-rounded teal lighten-2"><i
                            class="mdi mdi-message-text-outline right"></i>button</a>


                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Small Buttons</h5>
                    <a class="waves-effect waves-light btn-small teal lighten-2">Button</a>
                    <a class="waves-effect waves-light btn-small teal lighten-2"><i
                            class="mdi mdi-message-text-outline left"></i>button</a>
                    <a class="waves-effect waves-light btn-small teal lighten-2"><i
                            class="mdi mdi-message-text-outline right"></i>button</a>

                    <div class="spacer-small"></div>

                    <a class="waves-effect waves-light btn-small btn-rounded bg-primary">Button</a>
                    <a class="waves-effect waves-light btn-small btn-rounded bg-primary"><i
                            class="mdi mdi-message-text-outline left"></i>button</a>
                    <a class="waves-effect waves-light btn-small btn-rounded bg-primary"><i
                            class="mdi mdi-message-text-outline right"></i>button</a>

                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Pulse Buttons</h5>
                    <a class="btn-floating btn-small pulse bg-primary"><i class="mdi mdi-menu"></i></a>
                    <a class="btn-floating pulse green lighten-2 "><i class="mdi mdi-menu"></i></a>
                    <a class="btn-floating btn-large pulse teal lighten-2"><i class="mdi mdi-menu"></i></a>

                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Floating Buttons</h5>
                    <a class="btn-floating btn-small waves-effect waves-light bg-primary"><i
                            class="mdi mdi-plus"></i></a>

                    <a class="btn-floating btn waves-effect waves-light green lighten-2 "><i
                            class="mdi mdi-plus"></i></a>
                    <a class="btn-floating btn-large waves-effect waves-light teal lighten-2"><i
                            class="mdi mdi-plus"></i></a>

                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Iconic Buttons</h5>


                    <button class="btn waves-effect waves-light bg-primary" type="submit" name="action">
                        <i class="mdi mdi-autorenew"></i>
                    </button>
                    <a class="waves-effect waves-light btn teal lighten-2"><i
                            class="mdi mdi-message-text-outline"></i></a>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Text with Icons Buttons</h5>
                    <button class="btn waves-effect waves-light bg-primary" type="submit" name="action">Submit
                        <i class="mdi mdi-message-text-outline right"></i>
                    </button>
                    <div class="spacer-small"></div>
                    <a class="waves-effect waves-light btn green lighten-2 "><i
                            class="mdi mdi-message-text-outline left"></i>button</a>
                    <div class="spacer-small"></div>
                    <a class="waves-effect waves-light btn teal lighten-2"><i
                            class="mdi mdi-message-text-outline right"></i>button</a>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Flat/Link Buttons</h5> <a
                        class="waves-effect waves-teal btn-flat">Button</a>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Disabled Buttons</h5>
                    <a class="btn-large disabled">Button</a>
                    <a class="btn disabled">Button</a>
                    <a class="btn-flat disabled">Button</a>
                    <a class="btn-floating disabled"><i class="mdi mdi-plus"></i></a>

                </div>
            </div>

        </div>
    </div>




    <footer class="page-footer" id="page-footer"></footer>




    <div id="footer-menu" class="footer-menu"></div>












    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="../modules/app/plugins/materializecss/materialize.js"></script>
<script src="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../modules/app/plugins/pull-to-refresh/jquery.p2r.min.js"></script>    <!-- CORE JS FRAMEWORK - END -->


    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->


    <!-- CORE TEMPLATE JS - START -->




    <!-- END CORE TEMPLATE JS - END -->


    <script type="text/javascript">

    </script>

    <script type="text/javascript" src="../cordova.js"></script>

</body>

</html>