<!DOCTYPE html>
<html class=" ">
    <head> 
        <!-- 
         * @Package: Zak mobile App
         * @Author: themepassion
         * @Version: 1.0
        -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Zak Mobile App : Carousel</title>
        <meta content="Zak Mobile App" name="description" />
        <meta content="themepassion" name="author" />

        
<!-- CORE JS FRAMEWORK - START -->
<script src="../modules/app/js/jquery.min.js"></script>

<script src="../assets/js/variables.js"></script>
<script src="../modules/acl/acl.js"></script>

<script src="../assets/js/account.js" type="text/javascript"></script>
<script src="../modules/app/app.js"></script>
<!-- CORE JS FRAMEWORK - END -->

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">






<!-- CORE CSS FRAMEWORK - START -->
<link href="../assets/css/preloader.css" type="text/css" rel="stylesheet"
  media="screen,projection" />

<link href="../modules/app/plugins/materializecss/materialize.min.css" type="text/css"
  rel="stylesheet" media="screen,projection" />
<link href="../modules/app/fonts/mdi/materialdesignicons.min.css" type="text/css" rel="stylesheet"
  media="screen,projection" />
<link href="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css"
  rel="stylesheet" media="screen,projection" />


<!-- CORE CSS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE CSS TEMPLATE - START -->


<link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"
  id="main-style" />
<script src="../assets/js/global_style.js"></script>        <!-- CORE CSS TEMPLATE - END -->

    

    </head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->

    
    <body class="  html"  data-theme="" data-header="light" data-footer="dark"  data-header_align="center"  data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light" data-footer_menu="show" data-footer_menu_style="light" >
                <div class="ajaxloader-background preloader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>
        <div class="preloader-background apploader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>


        <div class="scroll">
          <div class="refresh">

          </div>
        </div>
        <div class="reloading z-depth-2"><i class="mdi mdi-refresh"></i></div>


        <!-- 

        <div class='p2r-example' data-orientation="all"></div> -->
        

<!-- START navigation -->
    <nav id="header-topbar" class="fixedtop topbar navigation" role="navigation"></nav>
    <ul id="slide-nav" class="sidenav sidemenu"></ul>
<!-- END navigation -->



<ul id="slide-settings" class="sidenav sidesettings right fixed">
    
</ul>

  <div class="container">
    <div class="section">
	<h5 class="pagetitle">Carousel</h5>
	
	<p>ZAK is premium and multi purpose Mobile UI APP with tons of features and functionalities. Try it now. </p>
	<div class="divider"></div>
    </div>
   </div>	







  <div class="container">
    <div class="section">

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Carousel</h5>
    </div>
    </div>
        </div>
</div>
  <div class="carousel carousel-basic carousel-small">
    <a class="carousel-item" href="#one!"><img src="../assets/images/carousel-1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../assets/images/carousel-2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../assets/images/carousel-3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../assets/images/carousel-4.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="../assets/images/carousel-5.jpg"></a>
  </div>
      


  <div class="container">
    <div class="section">

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Fullwidth Carousel</h5>
    </div>
    </div>
        </div>
</div>
     
  <div class="carousel carousel-fullwidth carousel-slider" style="height: 280px;">
    <a class="carousel-item" href="#one!"><img src="../assets/images/carousel-11.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../assets/images/carousel-12.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../assets/images/carousel-13.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../assets/images/carousel-14.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../assets/images/carousel-15.jpg"></a>
  </div>
  <div class="container">
    <div class="section">

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Content in Carousel</h5>   
    </div>
    </div>
        </div>
</div>

        <div class="carousel carousel-content carousel-slider center">
            
            <div class="carousel-item primary-bg white-text" href="#one!">
              <div class="item-content">
              <div class="spacer-large"></div>
              <h2>First Panel</h2>
              <p class="white-text pad-15">A design approach is a general philosophy that may or may not include a guide for specific methods.</p>
              </div>
            </div>
            <div class="carousel-item deep-orange lighten-2 white-text" href="#two!">
              <div class="item-content">
              <div class="spacer-large"></div>
              <h2>Second Panel</h2>
              <p class="white-text pad-15">Reflections on material culture and environmental concerns (sustainable design) can guide a design philosophy. </p>
              </div>
            </div>
            <div class="carousel-item green lighten-2 white-text" href="#three!">
              <div class="item-content">
              <div class="spacer-large"></div>
              <h2>Third Panel</h2>
              <p class="white-text pad-15">One example is the First Things First manifesto which was launched within the graphic design community and states</p>
              </div>
            </div>
            <div class="carousel-item accent-bg white-text" href="#four!">
              <div class="item-content">
              <div class="spacer-large"></div>
              <h2>Fourth Panel</h2>
              <p class="white-text pad-15">Design philosophies are fundamental guiding principles that dictate how a designer approaches his/her practice.</p>
              </div>
            </div>
          </div>   
    

  <div class="container">
    <div class="section">

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Container Carousel</h5>
  <div class="carousel carousel-fullwidth carousel-container carousel-slider" style="height: 250px;">
    <a class="carousel-item" href="#one!"><img src="../assets/images/carousel-21.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../assets/images/carousel-22.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../assets/images/carousel-23.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../assets/images/carousel-24.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../assets/images/carousel-25.jpg"></a>
  </div>

    </div>
    </div>
        </div>
</div>



<footer class="page-footer" id="page-footer"></footer>




    <div id="footer-menu" class="footer-menu"></div>












<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

<!-- CORE JS FRAMEWORK - START --> 
<script src="../modules/app/plugins/materializecss/materialize.js"></script>
<script src="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../modules/app/plugins/pull-to-refresh/jquery.p2r.min.js"></script> 
<!-- CORE JS FRAMEWORK - END --> 


<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 
<script type="text/javascript">
  $(document).ready(function(){
      $(".carousel-basic").carousel({
        indicators: true
      });

      $(".carousel-fullwidth.carousel-slider").carousel({
        fullWidth: true,
        indicators: true
      });

      $(".carousel-content.carousel-slider").carousel({
        fullWidth: true,
        indicators: true
      });
      setTimeout(autoplay, 3500);
      function autoplay() {
          $(".carousel").carousel("next");
          setTimeout(autoplay, 3500);
      }


  });   </script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 


<!-- CORE TEMPLATE JS - START --> 




<!-- END CORE TEMPLATE JS - END --> 


<script type="text/javascript">
  
</script>

    <script type="text/javascript" src="../cordova.js"></script>

</body>
</html>



