<!DOCTYPE html>
<html class=" ">

<head> 
    <!-- 
         * @Package: Zak mobile App
         * @Author: themepassion
         * @Version: 1.0
        -->
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Zak Mobile App : Utilities & Components</title>
    <meta content="Zak Mobile App" name="description" />
    <meta content="themepassion" name="author" />

    
<!-- CORE JS FRAMEWORK - START -->
<script src="../modules/app/js/jquery.min.js"></script>

<script src="../assets/js/variables.js"></script>
<script src="../modules/acl/acl.js"></script>

<script src="../assets/js/account.js" type="text/javascript"></script>
<script src="../modules/app/app.js"></script>
<!-- CORE JS FRAMEWORK - END -->

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">






<!-- CORE CSS FRAMEWORK - START -->
<link href="../assets/css/preloader.css" type="text/css" rel="stylesheet"
  media="screen,projection" />

<link href="../modules/app/plugins/materializecss/materialize.min.css" type="text/css"
  rel="stylesheet" media="screen,projection" />
<link href="../modules/app/fonts/mdi/materialdesignicons.min.css" type="text/css" rel="stylesheet"
  media="screen,projection" />
<link href="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css"
  rel="stylesheet" media="screen,projection" />


<!-- CORE CSS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE CSS TEMPLATE - START -->


<link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"
  id="main-style" />
<script src="../assets/js/global_style.js"></script>    <!-- CORE CSS TEMPLATE - END -->



</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->


<body class=" web   html" data-theme="" data-header="light" data-footer="dark" data-header_align="center"
    data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light"
    data-footer_menu="show" data-footer_menu_style="light">
            <div class="ajaxloader-background preloader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>
        <div class="preloader-background apploader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>


        <div class="scroll">
          <div class="refresh">

          </div>
        </div>
        <div class="reloading z-depth-2"><i class="mdi mdi-refresh"></i></div>


        <!-- 

        <div class='p2r-example' data-orientation="all"></div> -->


    <!-- START navigation -->
    <nav id="header-topbar" class="fixedtop topbar navigation" role="navigation"></nav>
    <ul id="slide-nav" class="sidenav sidemenu"></ul>
    <!-- END navigation -->



    <ul id="slide-settings" class="sidenav sidesettings right fixed">

    </ul>

    <div class="container">
        <div class="section">
            <h5 class="pagetitle">Utilities & Components</h5>

            <p>ZAK is premium and multi purpose Mobile UI APP with tons of features and functionalities. Try it now.
            </p>
            <div class="divider"></div>
        </div>
    </div>







    <div class="container">
        <div class="section">


            <ul class="subpages collection">
                <li class="collection-item">
                    <a href="ui-accordion.html" class="waves-effect"><i
                            class="mdi mdi-view-headline"></i></i><span>Accordions</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-carousel.html" class="waves-effect"><i
                            class="mdi mdi-view-carousel"></i></i><span>Carousel</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-fullscreencarousel.html" class="waves-effect"><i
                            class="mdi mdi-view-carousel"></i></i><span>Fullscreen Carousel (Touch)</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-dropdowns.html" class="waves-effect"><i
                            class="mdi mdi-arrow-down-drop-circle-outline"></i></i><span>Dropdowns</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-media-lightbox.html" class="waves-effect"><i
                            class="mdi mdi-image-filter"></i></i><span>Media Light Box</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-featurediscovery.html" class="waves-effect"><i
                            class="mdi mdi-link-variant"></i></i><span>Feature Discovery</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-slider.html" class="waves-effect"><i
                            class="mdi mdi-view-array"></i></i><span>Slider</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-fullscreenslider.html" class="waves-effect"><i
                            class="mdi mdi-arrow-expand-horizontal"></i></i><span>Fullscreen Slider</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-modals.html" class="waves-effect"><i
                            class="mdi mdi-image-filter-frames"></i></i><span>Modals</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-parallax.html" class="waves-effect"><i
                            class="mdi mdi-format-wrap-inline"></i></i><span>Parallax</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-tabs.html" class="waves-effect"><i class="mdi mdi-table-row"></i></i><span>Tabs</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-toast.html" class="waves-effect"><i
                            class="mdi mdi-notification-clear-all"></i></i><span>Toast</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-tooltips.html" class="waves-effect"><i
                            class="mdi mdi-tooltip-outline"></i></i><span>Tooltips</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
                <li class="collection-item">
                    <a href="ui-waves.html" class="waves-effect"><i class="mdi mdi-waves"></i></i><span>Waves</span><i
                            class="arrow mdi mdi-chevron-right"></i></a>
                </li>
            </ul>


        </div>

    </div>




    <footer class="page-footer" id="page-footer"></footer>




    <div id="footer-menu" class="footer-menu"></div>












    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="../modules/app/plugins/materializecss/materialize.js"></script>
<script src="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../modules/app/plugins/pull-to-refresh/jquery.p2r.min.js"></script>    <!-- CORE JS FRAMEWORK - END -->


    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->


    <!-- CORE TEMPLATE JS - START -->




    <!-- END CORE TEMPLATE JS - END -->


    <script type="text/javascript">

    </script>

    <script type="text/javascript" src="../cordova.js"></script>

</body>

</html>