<!DOCTYPE html>
<html class=" ">

<head> 
    <!-- 
         * @Package: Zak mobile App
         * @Author: themepassion
         * @Version: 1.0
        -->
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Zak Mobile App : Dropdowns</title>
    <meta content="Zak Mobile App" name="description" />
    <meta content="themepassion" name="author" />

    
<!-- CORE JS FRAMEWORK - START -->
<script src="../modules/app/js/jquery.min.js"></script>

<script src="../assets/js/variables.js"></script>
<script src="../modules/acl/acl.js"></script>

<script src="../assets/js/account.js" type="text/javascript"></script>
<script src="../modules/app/app.js"></script>
<!-- CORE JS FRAMEWORK - END -->

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">






<!-- CORE CSS FRAMEWORK - START -->
<link href="../assets/css/preloader.css" type="text/css" rel="stylesheet"
  media="screen,projection" />

<link href="../modules/app/plugins/materializecss/materialize.min.css" type="text/css"
  rel="stylesheet" media="screen,projection" />
<link href="../modules/app/fonts/mdi/materialdesignicons.min.css" type="text/css" rel="stylesheet"
  media="screen,projection" />
<link href="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css"
  rel="stylesheet" media="screen,projection" />


<!-- CORE CSS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE CSS TEMPLATE - START -->


<link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"
  id="main-style" />
<script src="../assets/js/global_style.js"></script>    <!-- CORE CSS TEMPLATE - END -->



</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->


<body class=" web   html" data-theme="" data-header="light" data-footer="dark" data-header_align="center"
    data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light"
    data-footer_menu="show" data-footer_menu_style="light">
            <div class="ajaxloader-background preloader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>
        <div class="preloader-background apploader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>


        <div class="scroll">
          <div class="refresh">

          </div>
        </div>
        <div class="reloading z-depth-2"><i class="mdi mdi-refresh"></i></div>


        <!-- 

        <div class='p2r-example' data-orientation="all"></div> -->


    <!-- START navigation -->
    <nav id="header-topbar" class="fixedtop topbar navigation" role="navigation"></nav>
    <ul id="slide-nav" class="sidenav sidemenu"></ul>
    <!-- END navigation -->



    <ul id="slide-settings" class="sidenav sidesettings right fixed">

    </ul>

    <div class="container">
        <div class="section">
            <h5 class="pagetitle">Dropdowns</h5>

            <p>ZAK is premium and multi purpose Mobile UI APP with tons of features and functionalities. Try it now.
            </p>
            <div class="divider"></div>
        </div>
    </div>







    <div class="container">
        <div class="section ui-dropdowns">


            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Dropdowns Sizes</h5>
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn-small' href='#' data-target='dropdown1'>Small <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>

                    <div class="spacer"></div>

                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn' href='#' data-target='dropdown2'>Dropdown <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown2' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>


                    <div class="spacer"></div>


                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn-large' href='#' data-target='dropdown3'>Large Dropdown <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown3' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>


                </div>
            </div>

            <div class="divider"></div>


            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Dropdowns Colors</h5>

                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn red lighten-2' href='#' data-target='dropdown4'>Dropdown <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown4' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>




                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn pink lighten-2' href='#' data-target='dropdown5'>Dropdown <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown5' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>




                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn deep-purple lighten-2' href='#' data-target='dropdown6'>Dropdown <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown6' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn indigo lighten-2' href='#' data-target='dropdown7'>Dropdown <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown7' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn blue lighten-2' href='#' data-target='dropdown8'>Dropdown <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown8' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn teal lighten-2' href='#' data-target='dropdown9'>Dropdown <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown9' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn amber lighten-1' href='#' data-target='dropdown10'>Dropdown <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown10' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn deep-orange lighten-2' href='#' data-target='dropdown11'>Dropdown <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown11' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn brown lighten-2' href='#' data-target='dropdown12'>Dropdown <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown12' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn blue-grey lighten-2' href='#' data-target='dropdown13'>Dropdown <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown13' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>


                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn white black-text' href='#' data-target='dropdown14'>Dropdown <i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown14' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>


                </div>
            </div>


            <div class="divider"></div>


            <div class="row ">
                <div class="col s12 pad-0">
                    <h5 class="bot-20 sec-tit  ">Dropdowns Icons</h5>

                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn red lighten-2' href='#' data-target='dropdown15'><i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown15' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>




                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn pink lighten-2' href='#' data-target='dropdown16'><i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown16' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>




                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn deep-purple lighten-2' href='#' data-target='dropdown17'><i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown17' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn indigo lighten-2' href='#' data-target='dropdown18'><i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown18' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn blue lighten-2' href='#' data-target='dropdown19'><i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown19' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn teal lighten-2' href='#' data-target='dropdown20'><i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown20' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn amber lighten-1' href='#' data-target='dropdown21'><i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown21' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn deep-orange lighten-2' href='#' data-target='dropdown22'><i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown22' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn brown lighten-2' href='#' data-target='dropdown23'><i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown23' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>



                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn blue-grey lighten-2' href='#' data-target='dropdown24'><i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown24' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>


                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger btn white black-text' href='#' data-target='dropdown25'><i
                            class="mdi mdi-chevron-down"></i></a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown25' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="mdi mdi-laptop"></i>four</a></li>
                        <li><a href="#!"><i class="mdi mdi-file-outline"></i>five</a></li>
                    </ul>


                </div>
            </div>


        </div>
    </div>




    <footer class="page-footer" id="page-footer"></footer>




    <div id="footer-menu" class="footer-menu"></div>












    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

    <!-- CORE JS FRAMEWORK - START -->
    <script src="../modules/app/plugins/materializecss/materialize.js"></script>
<script src="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../modules/app/plugins/pull-to-refresh/jquery.p2r.min.js"></script>    <!-- CORE JS FRAMEWORK - END -->


    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <script type="text/javascript">
    $(".dropdown-trigger").dropdown();
    </script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->


    <!-- CORE TEMPLATE JS - START -->




    <!-- END CORE TEMPLATE JS - END -->


    <script type="text/javascript">

    </script>

    <script type="text/javascript" src="../cordova.js"></script>

</body>

</html>