<!DOCTYPE html>
<html class=" ">
    <head> 
        <!-- 
         * @Package: Zak mobile App
         * @Author: themepassion
         * @Version: 1.0
        -->
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Zak Mobile App : Typography</title>
        <meta content="Zak Mobile App" name="description" />
        <meta content="themepassion" name="author" />

        
<!-- CORE JS FRAMEWORK - START -->
<script src="../modules/app/js/jquery.min.js"></script>

<script src="../assets/js/variables.js"></script>
<script src="../modules/acl/acl.js"></script>

<script src="../assets/js/account.js" type="text/javascript"></script>
<script src="../modules/app/app.js"></script>
<!-- CORE JS FRAMEWORK - END -->

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">






<!-- CORE CSS FRAMEWORK - START -->
<link href="../assets/css/preloader.css" type="text/css" rel="stylesheet"
  media="screen,projection" />

<link href="../modules/app/plugins/materializecss/materialize.min.css" type="text/css"
  rel="stylesheet" media="screen,projection" />
<link href="../modules/app/fonts/mdi/materialdesignicons.min.css" type="text/css" rel="stylesheet"
  media="screen,projection" />
<link href="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css"
  rel="stylesheet" media="screen,projection" />


<!-- CORE CSS FRAMEWORK - END -->

<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

<!-- CORE CSS TEMPLATE - START -->


<link href="../assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"
  id="main-style" />
<script src="../assets/js/global_style.js"></script>        <!-- CORE CSS TEMPLATE - END -->

    

    </head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->

    
    <body class=" web   html"  data-theme="" data-header="light" data-footer="dark"  data-header_align="center"  data-menu_type="left" data-menu="light" data-menu_icons="on" data-footer_type="left" data-site_mode="light" data-footer_menu="show" data-footer_menu_style="light" >
                <div class="ajaxloader-background preloader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>
        <div class="preloader-background apploader-background">
          <div class="preloader-wrapper">
            <div id="preloader"></div>
          </div>
        </div>


        <div class="scroll">
          <div class="refresh">

          </div>
        </div>
        <div class="reloading z-depth-2"><i class="mdi mdi-refresh"></i></div>


        <!-- 

        <div class='p2r-example' data-orientation="all"></div> -->
        

<!-- START navigation -->
    <nav id="header-topbar" class="fixedtop topbar navigation" role="navigation"></nav>
    <ul id="slide-nav" class="sidenav sidemenu"></ul>
<!-- END navigation -->



<ul id="slide-settings" class="sidenav sidesettings right fixed">
    
</ul>

  <div class="container">
    <div class="section">
	<h5 class="pagetitle">Typography</h5>
	
	<p>ZAK is premium and multi purpose Mobile UI APP with tons of features and functionalities. Try it now. </p>
	<div class="divider"></div>
    </div>
   </div>	







  <div class="container">
    <div class="section">

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Basic Typography</h5>        
            <h1>Heading h1</h1>
            <h2>Heading h2</h2>
            <h3>Heading h3</h3>
            <h4>Heading h4</h4>
            <h5>Heading h5</h5>
            <h6>Heading h6</h6>
        
            <p>In some cases, the <span class='primary-text'>direct construction</span> of an object (as in pottery, <span class='accent-text'>engineering, management</span>, coding, and graphic design) is also considered to use design thinking.</p>

            <p>Designing often necessitates considering the <span class='highlight primary-bg white-text'>aesthetic</span>, functional, economic, and <span class='highlight accent-bg white-text'>sociopolitical dimensions</span> of both the design object and design process.</p>
        
            <p>Design is the <strong>creation of a plan</strong> or convention for the construction of an object, <i>system or measurable human interaction as in architectural blueprints</i>, engineering drawings, <u>business processes</u>, circuit diagrams, and sewing patterns. </p>


    </div>
    </div>
    
    <div class="divider"></div>
    <div class="spacer"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Blockquote</h5>

    <blockquote>
      This is an example quotation that uses the blockquote tag.
    </blockquote>

    <blockquote class="accent">
      This is an example quotation that uses the blockquote tag.
    </blockquote>

    <blockquote class="primary-bg-light">
      This is an example quotation that uses the blockquote tag.
    </blockquote>

    <blockquote class="accent-bg-light accent">
      This is an example quotation that uses the blockquote tag.
    </blockquote>

    </div>
    </div>
    
    <div class="divider"></div>
    <div class="spacer"></div>

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit  ">Helpers</h5>
          <div>
            <p class="left-align">This is left aligned</p>
            <p class="center-align">This is center aligned</p>
            <p class="right-align">This is right aligned</p>
          </div>

    <div class="divider"></div>

        <div class="valign-wrapper" style="height: 100px">
          <p>This is vertically aligned</p>
        </div>

    <div class="divider"></div>

            <p class="left">This floats on Left</p>
            <p>&nbsp;</p>

    <div class="divider"></div>
            <p class="right">This floats on Right</p>
            <p>&nbsp;</p>

    <div class="divider"></div>
          <p class="truncate">This is an extremely long title that will be truncated as the screen width becomes smaller.</p>

    </div>
    </div>
    
    </div>
</div>



<footer class="page-footer" id="page-footer"></footer>




    <div id="footer-menu" class="footer-menu"></div>












<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

<!-- CORE JS FRAMEWORK - START --> 
<script src="../modules/app/plugins/materializecss/materialize.js"></script>
<script src="../modules/app/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="../modules/app/plugins/pull-to-refresh/jquery.p2r.min.js"></script> 
<!-- CORE JS FRAMEWORK - END --> 


<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START --> 
<script type="text/javascript">
$("#flow-toggle").click(function(){
    $(".flow-this").toggleClass("flow-text");
});
</script><!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END --> 


<!-- CORE TEMPLATE JS - START --> 




<!-- END CORE TEMPLATE JS - END --> 


<script type="text/javascript">
  
</script>

    <script type="text/javascript" src="../cordova.js"></script>

</body>
</html>



